.divtools{
    display: inline-flex;
    padding: 10px; 
    border: solid 1px black;
    border-radius:10px;
    border-color: black;
  }
  
  .divtools-left{
    
    width: max-content;
    display: block;
    
  }
  
  .divtools-right{
    width: max-content;
  
    padding: 30px;
    
  }